@import "tailwindcss";

html,
body,
#root {
  margin-top:10%;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden; /* 👈 extra scroll remove */
}
@layer utilities {
  .safe-area {
    padding-top: env(safe-area-inset-top);
    padding-bottom: env(safe-area-inset-bottom);
  }
}
